.box {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-between;
  padding: 1em;
  background-color: var(--mantle);
  border: 2px solid;
  border-color: var(--background);
  transition: background-color 2s ease;
  transition: 0.5s ease;
  border-radius: 16px;
  margin: .25em;

  &:hover {
    border-color: var(--color-primary);
  }
}

.box__options {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

.box__options a {
  display: block;
  text-decoration: none;
  color: var(--color-primary);
  background-color: var(--base);
  padding: 1em 2em;
  border-radius: 12px;
  margin: 0em .2em;
  transition: 0.5s ease;
}

.box__options a:hover {
  background-color: var(--color-primary);
  color: var(--base);
}

@media (max-width: 768px) {
  .box {
    margin: 1em;
    margin-bottom: 0;
  }

  .box__options {
    flex-direction: column;
    align-items: stretch;
  }

  .box__options a {
    text-align: center;
    margin: .35em 0;
    padding: 1em .3em;
  }
}